@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&family=Volkhov&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
}

.container{
    width: 100%;
    margin: auto;
}

.purple{
    margin-left: 3px;
    position: absolute;
    background-repeat: no-repeat;
    background: left;

}

.cream{
    background-repeat: no-repeat;
    margin:auto;
    margin-left: 1129px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: -680px;
    margin-left: 190px;
}

.navlist{
    list-style: none;
    justify-content: space-between;
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-left: 300px;
    width: 50%;
    cursor: pointer
}

.navlist li{
    margin-right: 100px;
    font-family: 'Google Sans';
    font-weight: 400;
    font-size: 20px;
    width: 80%;
}

.navlist li button{
    border-radius: 5px;
    font-size: 17px;
    width: 100px;
    height: 40px;
    margin-top: -10px;
    background-color: #FFF1DA;

}

.arrowdown{
    margin-left: -90px;
}

.section1{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.text h3{
    color:#DF6951;
    position: absolute;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 80px;
}

.text h1{
    width: 600px;
    font-family: 'Volkhov';
    font-size: 84px;
    line-height: 95px;
    letter-spacing: -0.04em;
    color: #181E4B;
    margin-top: 130px;
}

.enjoy{
    margin-left: 245px;
    margin-top: -215px;

}

.text p{
    color:#5E6282;
    width: 420px;
    font-family: 'Poppins';
    font-weight: 900px;
    font-size: 18px;
    line-height: 30px;
    margin-top: 250px;
}

.more button{
    width: 170px;
    height: 60px;
    background: #F1A501;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    color: white;
    size: 18px;
    border: none;
    font-family: 'Google Sans';
    font-size: 18px;
    margin-top: 30px;
}

.playdemo{
    display: flex;
    justify-content: space-between; 
}

.demo img{
    margin-bottom: -120px;
    margin-left: 150px;
}

.demo p{
    margin-left: 250px;
    margin-top: 30px;
}

.traveller{
    margin-right: 500px;
    width: 765px;
    margin-left: -15px;
    margin-top: 20px;
}

.category{
    text-align: center;
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
    margin-top: -150px;
}

.section2{
    margin-top: 80px;
    width: 80%;
    margin:auto;
}

.cross{
    margin-left: 1490px;
    margin-top: 100px;
}

.we{
    margin-top: 30px;
    font-family: 'Volkhov';
    font-size: 60px;
    text-align: center;
    color: #14183E;
    font-weight:700px;
}

.services{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    margin:auto;
    margin-left: 100px;
}

.weather img{
margin-left: 50px;
margin-bottom: 20px;
}

.weather h3{
    width: 188px;
    font-family: 'Open Sans';
    font-size: 20px;
    text-align: center;
    color: #1E1D4C;
    margin-bottom: 20px;
    margin-left: -15px;
}

.weather h2{
    width: 153px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;

}

.parent{
    position: relative;
}

.flights{
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
    width: 300px;
    height: 300px;
    margin-top: -30px;
    margin-left: 100px;
    position: relative;

}

.flights img{
    margin-left: 70px;
    margin-top: -10px;
}
    
.flights h3{
    font-family: 'Open Sans';
    font-size: 20px;
    color: #1E1D4C;
    margin-bottom: 20px;
    text-align: center;
    width: 188px;
    margin-left: 50px;
    margin-top: -20px;
}
    
.flights h2{
    width: 155px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;
    margin-left: 60px;
}

.rec{
    margin-left: -90px;
    margin-top: -70px;
    margin-left: 70px;
    width: 100px;
}

.events{
    margin-left: 80px;
    margin-right: 80px;
}

.events img{
    margin-left: 50px;
    margin-top: -5px;
}

.events h3{
    margin-left: 5px;
    margin-top: 20px;
    width: 150px;
    font-family: 'Open Sans';
    font-size: 20px;
    text-align: center;
    color: #1E1D4C;
}

.events h2{
    width: 160px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;
    margin-top: 25px;
}

.customization{
    margin-left: 80px;
    margin-right: 80px;
}

.customization img{
    margin-left: 40px;
    margin-top: -10px;
}

.customization h3{
    margin-left: 5px;
    margin-top: 25px;
    width: 150px;
    font-family: 'Open Sans';
    font-size: 20px;
    text-align: center;
    color: #1E1D4C;
}

.customization h2{
    width: 160px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #5E6282;
    margin-top: 25px;
}

.section3{
width: 80%;
margin: auto;
}

.section3 h4{
font-family: 'Poppins';
font-size: 18px;
text-align: center;
color: #5E6282;
margin-top: 100px;
}

.section3 h1{
    font-family: 'Volkhov';
    font-size: 50px;
    text-align: center;
    color: #14183E;
    margin-top: 20px;
}

.destination{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.rome img{
    margin-left: 200px;
}

.rome{
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 24px;
    margin-left: -50px;
}
.card1{
    border-radius: 0px 0px 24px 24px;
    margin-top: -310px;
    margin-left: 80px;
}

.rome h3{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
    margin-top: -110px;
    margin-left: 300px;
}

.rome h2{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
    margin-left: 520px;
    margin-top: -20px;
}

.nav1 img{
    margin-left: 300px;
    margin-top: 20px;
}

.rome p{
    margin-left: 330px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6282;
    margin-top: -22px;
}

.london{
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 24px;
    margin-left: -130px;
    margin-right: 520px;
}

.card2{
    border-radius: 0px 0px 24px 24px;
    margin-top: -310px;
    margin-left: 80px;
}

.london h3{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
    margin-top: -110px;
    margin-left: 110px;
}

.london h2{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
    margin-left: 330px;
    margin-top: -20px;
}

.nav2 img{
    margin-left: 110px;
    margin-top: 20px;
}

.london p{
    margin-left: 140px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6282;
    margin-top: -22px;
}

.europe img{
    margin-left: 200px;
}

.europe{
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 24px;
    margin-right: 350px;
    margin-left: -850px;
}
.card3{
    border-radius: 0px 0px 24px 24px;
    margin-top: -310px;
    margin-left: 80px;
}

.europe h3{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
    margin-top: -110px;
    margin-left: 310px;
}

.europe h2{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
    margin-left: 530px;
    margin-top: -20px;
}

.nav3 img{
    margin-left: 310px;
    margin-top: 20px;
}

.europe p{
    margin-left: 345px;
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6282;
    margin-top: -22px;
}

.spiral{
    margin-top: -250px;
    margin-left: 1200px;
}

.section4{
    display: flex;
    justify-content: space-between;
    margin-top: 300px;
    width: 70%;
    margin: auto;
}

.left h3{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
    margin-top: 250px;
}

.left h1{
    font-family: 'Volkhov';
    font-size: 50px;
    text-transform: capitalize;
    color: #14183E;
    margin-top: 20px;
    line-height: 64px;
    width: 450px;
}

.yellow img{
    margin-top: 40px;
}

.yellow h4{
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6282;
    margin-top: -60px;
    margin-left: 70px;
}

.yellow p{
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6282;
    margin-top: 5px;
    margin-left: 70px;
    width: 327px;
}

.red img{
    margin-top: 60px;
}

.red h4{
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6282;
    margin-top: -60px;
    margin-left: 70px;
}

.red p{
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6282;
    margin-top: 5px;
    margin-left: 70px;
    width: 327px;
}

.green img{
    margin-top: 60px;
}

.green h4{
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6282;
    margin-top: -60px;
    margin-left: 70px;
}

.green p{
    font-family: 'Poppins';
    font-size: 16px;
    color: #5E6282;
    margin-top: 5px;
    margin-left: 70px;
    width: 327px;
}

.box1{
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
    width: 370px;
    height: 400px;
    margin-top: -500px;
    position:absolute;
    margin-left: 90px;
}

.right img{
    margin-top: 180px;
    margin-left: -10px;
}

.box1 img{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.box1 h3{
    font-family: 'Poppins';
    font-size: 18px;
    color: #080809;
    letter-spacing: 2px;
    margin-bottom: 15px;
    margin-left: 25px;
}

.box1 p{
    font-family: 'Poppins';
    font-size: 16px;
    letter-spacing: 2px;
    color: #84829A;
    margin-left: 25px;
}

.icon{
    margin-top: -10px;
}

.building img{
    margin-top: 1px;
}

.building p{
    font-family: 'Poppins';
    font-size: 16px;
    letter-spacing: 2px;
    color: #84829A;
    margin-top: -43px;
    margin-left: 52px;
}

.love img{
    margin-top: -20px;
    margin-left: 320px;
}

.box2{
    position: absolute;
    width: 263px;
    height: 129px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 18px;
    margin-top: -290px;
    margin-left: 320px;
}

.box2 img{
    margin-top: 20px;
    margin-left: 20px;
}

.box2 p{
    font-family: 'Poppins';
    font-size: 14px;
    letter-spacing: 1px;
    color: #84829A;
    margin-top: -55px;
    margin-left: 80px;
}

.box2 h2{
    font-family: 'Poppins';
    font-size: 18px;
    letter-spacing: 2px;
    color: #080809;
    margin-left: 80px;
    margin-top: 8px;
}

.box2 h5{
    color: #8A79DF;
    font-size: 14px;
    margin-left: 80px;
    margin-top: 10px;
}

.box2 h4{
    margin-left: 110px;
    margin-top: -18px;
}

.loading{
    margin-top: -370px;
    margin-left: 410px;
    position: absolute;
}

.section5{
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}

.left5 h3{
    font-family: 'Poppins';
    font-size: 18px;
    text-transform: uppercase;
    color: #5E6282;
    margin-top: 80px;
    margin-bottom: 20px; 
}

.left5 h1{
    font-family: 'Volkhov';
    font-size: 50px;
    text-transform: capitalize;
    color: #14183E;
    width: 409px;
    line-height: 64px;
    margin-bottom: 100px; 
}

.right5{
    margin-top: 70px;
    margin-right: 30px;
}

.boxmike{
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    width: 504px;
    height: 245px;
    margin-top: -100px;
    margin-left: 50px;
}

.boxmike h3{
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 32px;
    color: #5E6282;
    width: 350px;
    margin-left: 30px;
    padding-top: 20px;
    margin-bottom: 40px;
    margin-top: 50px;
}

.boxmike h2{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
    margin-left: 30px;
}

.boxmike p{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    color: #5E6282;
    margin-left: 30px;
    margin-top: 10px;
}

.boxchris{
    position: absolute;
    width: 502px;
    height: 232px;
    border: 2px solid #F7F7F7;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 10px;
    margin-top: -170px;
    margin-left: 100px;
    border: none;
}

.boxchris h3{
    font-family: 'Poppins';
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
    margin-top: 180px;
    margin-left: 35px;
}

.boxchris p{
    font-family: 'Poppins';
    font-size: 14px;
    line-height: 21px;
    color: #5E6282;
    margin-left: 35px;
}

.arrow{
    margin-left: 700px;
    margin-top: -120px;
}

.expedia{
    width: 241px;
    height: 86px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
    margin-top: 30px
}

.expedia img{
    margin-top: -40px;
    margin-left: 40px;
}

.section6{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 80%;
    margin: auto;
    margin-top: 120px;
}

.section7{
    margin: auto;
    width: 80%;
    margin-top: 170px;
    margin-bottom: 150px;
}

.section7 h1{
    font-family: 'Poppins';
    font-size: 33px;
    line-height: 54px;
    text-align: center;
    color: #5E6282;
    width: 800px;
    margin-left: 350px;
    margin-top: 30px;
}

.section7 img{
    margin-left: 60px;
}

.send{
    margin-left: 1200px;
    margin-top: -430px;
}

.subscriber input{
    width: 421px;
    height: 68px;
    padding-left: 65px;
    background: url(./images/Group\ 46email.svg);
    background-repeat: no-repeat;
    background-position: 30px;
    margin-top: 80px;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 480px;
    border: none;
}

.subscribe button{
    font-family: 'Open Sans';
    font-size: 17px;
    color: #FFFFFF;
    position: absolute;
    width: 180px;
    height: 68px;
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    margin-left: 950px;
    margin-top: -70px;
    border: none;
    cursor: pointer;
}

.cross2 img{
    margin-left: 1270px;
    margin-top: -40px;
}

.section8{
display: flex;
justify-content: space-between;
margin: auto;
width: 80%;
margin-bottom: 80px;
}

.jadoo h1{
    width: 152px;
    font-family: 'Poppins';
    font-size: 44px;
    color: #181E4B;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.jadoo p{
    font-family: 'Poppins';
    font-size: 13px;
    color: #5E6282;
    width: 207px;
}

.about{
    display: flex;
    line-height: 35px;
}

.company{
    margin-left: -180px;
    margin-right: 150px;
}
.company h2{
    font-family: 'Poppins';
    font-size: 21px;
    color: #080809;
    margin-top: 10px;
    margin-bottom: 15px;
}

.company h3{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
}

.contact{
    margin-right: 150px;

}

.contact h2 a{
text-decoration: none;
color: #080809;
/* margin-bottom: 15px; */
}

.contact h2{
    font-family: 'Poppins';
    font-size: 21px;
    color: #080809;
    margin-top: 10px;
    margin-bottom: 15px;
    text-decoration: none;
}

.contact h3{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
}

.more{
    margin-right: -150px;
}
.more h2{
    font-family: 'Poppins';
    font-size: 21px;
    color: #080809;
    margin-top: 10px;
    margin-bottom: 15px;
}

.more h3{
    font-family: 'Poppins';
    font-size: 18px;
    color: #5E6282;
}

.fb img{
    margin-top: -2px;
    margin-bottom: 10px;
}

.fb h2{
    font-family: 'Poppins';
    font-size: 20px;
    letter-spacing: 2.5px;
    color: #5E6282;
    margin-bottom: 25px;
}

.copyright h2{
    font-family: 'Poppins';
    font-size: 14px;
    color: #5E6282;
    text-align: center;
    margin-bottom: 80px;
}